<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://yangjian.me" target="_blank" title="YangJian">Alimon's Blog</a></li>
      <li><a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a></li>
      <li><a href="http://www.cnblogs.com/xiaozhuyang/p/" target="_blank" title="博客旧址"><strong style="color:#EE8262;font-weight:bold;">博客旧址</strong></a></li>
    </ul>
</div>
